:root {
  --bright-yellow: hsl(71, 73%, 54%);
  --cyan: hsl(179, 62%, 43%);
  --cyan2: #4cc4c1;
  --gray-blue: hsl(218, 22%, 67%);
  --light-blue: #e6eff5;
  --light-gray: hsl(204, 43%, 93%);
  --white: white;

  --default-font: 'Karla', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: var(--light-blue);
  align-items: center;
  display: flex;
  font-family: var(--default-font);
  justify-content: center;
}

.price-card {
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 hsl(0, 0%, 0%, 25%);
  display: flex;
  flex-flow: column;
  max-width: 40rem;
}

.price-card-intro {
  padding: 2.5rem;
}

.price-card-intro h1 {
  color: var(--cyan);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.price-card-intro h2 {
  color: var(--bright-yellow);
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.price-card-intro p {
  color: var(--gray-blue);
  font-size: 1rem;
  line-height: 1.625;
}

.price-card-info-ctn {
  color: var(--white);
  display: flex;
  background: var(--cyan);
  width: 100%;
}

.price-card-info-slot {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
  padding: 2.5rem;
}

.price-card-info-slot h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.price-card-info-box .price-copy {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.price-card-info-box .price-copy span {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.5rem;
  opacity: 0.5;
}

.price-card-info-box a {
  align-items: center;
  background: var(--bright-yellow);
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 hsl(0, 0%, 0%, 10%);
  color: var(--white);
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  justify-content: center;
  letter-spacing: -0.2px;
  text-decoration: none;
  text-transform: capitalize;
}

.price-card-info-box2 {
  background: var(--cyan2);
}

.price-card-info-box2 ul li {
  font-size: 0.875rem;
  line-height: 1.4;
  opacity: 0.75;
}

@media screen and (max-width: 40rem) {
  .price-card {
    max-width: 19.375rem;
  }

  .price-card-intro,
  .price-card-info-slot {
    padding: 1.375rem;
  }

  .price-card-intro h1 {
    font-size: 1.25rem;
  }

  .price-card-intro h2 {
    font-size: 0.9375rem;
    margin-bottom: 0.8rem;
  }

  .price-card-intro p {
    font-size: 0.875rem;
    line-height: 1.8;
  }

  .price-card-info-ctn {
    flex-flow: column;
  }

  .price-card-info-box a {
    margin-top: 2rem;
  }
}
